In [1]:
import os
#os.chdir(r"C:\Users\LENOVO\Documents\Documents\MLOpsProject")
from get_data import read_params, get_data
import argparse

In [1]:
import pandas

In [2]:
os.chdir(r"C:\Users\harde\OneDrive\Documents\New & Updated Documents\Documents\Documents\MLOpsProject\data_given")

In [3]:
import pandas as pd
df = pd.read_csv("winequality.csv")
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'TARGET'],
      dtype='object')

In [4]:
new_cols = [col.replace(" ","_") for col in df.columns]
new_cols

['fixed_acidity',
 'volatile_acidity',
 'citric_acid',
 'residual_sugar',
 'chlorides',
 'free_sulfur_dioxide',
 'total_sulfur_dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'TARGET']

In [5]:
df.columns = new_cols
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
# Changing the directory
os.chdir(r"C:\Users\harde\OneDrive\Documents\New & Updated Documents\Documents\Documents\MLOpsProject\data\raw")

In [7]:
df.to_csv("winequality.csv",encoding = 'utf-8')